#head {
    z-index: 3;
}

/* 左侧导航栏 */
.sidenav-left {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    padding: 20px;
    justify-content: center;
}

/* 右侧导航栏 */
.sidenav-right {
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.main {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    z-index: 2;
}

.row {
    margin-top: 2%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    /* 左右两端对齐 */
    align-items: center;
    /* 垂直居中 */
    background: linear-gradient(45deg, #0c476c 30%, #3e81aa 60%, #e3e0de 60%, #e3e0de 71%, #f68229 71%, #f9ad72 87%);
    color: #ffffff;
    white-space: nowrap;
    /* 防止文字换行 */
}

.card-header > div:first-child {
    flex-shrink: 1;
    /* 允许左侧内容收缩 */
    min-width: 0;
    /* 允许文本溢出处理 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文本过长时显示省略号 */
}

.card-header > div:last-child {
    flex-shrink: 0;
    /* 防止右侧日期收缩 */
    margin-left: 10px;
    /* 添加间距 */
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    /* 添加边框作为分割线 */
}

.card {
    border: none;
    /* 移除默认边框 */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    /* 保留阴影效果 */
}

.card-text {
    max-height: 4.5em;
    /* 约3行 */
    overflow: hidden;
    transition: max-height 0.5s ease;
    position: relative;
    flex: 1;
}

/* 展开的样式 */
.card-text.expanded {
    max-height: none;
}

/* 展开的样式 */
.card-text.expanded {
    max-height: none;
}

/* 渐变效果，用来指示还有更多内容 */
.fade-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: linear-gradient(to bottom, transparent, white);
}

/* 隐藏渐变效果时的样式 */
.card-text.expanded .fade-effect {
    display: none;
}

#volumelist .list-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(45deg, #0c476c 35%, #3e81aa 68.7%, #ffffff 68.7%, #ffffff 69%, #e3e0de 69%, #e3e0de 76.7%, #ffffff 76.7%, #ffffff 77%, #f68229 77%, #f9ad72 90%);
}

/* 展开/折叠按钮样式 */
.toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.svg-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

#back-to-top {
    display: none;
    /* 初始隐藏 */
}

@media (max-width: 768px) {
    .sidenav-left {
        display: none !important;
    }

    .sidenav-right {
        display: none !important;
    }

    .main {
        margin-right: 0 !important;
        margin-left: 0 !important;
        /* 小屏幕上不留白 */
    }
}
